<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>

<table style='border-left:10px solid yellow;'><tr>
    <td style='padding-left:20px;'>
        <h2><i>Swansea University Medical School</i><br/><b>MSc Health Data Science</b></h2>
        <h3>PMIM-102 Introduction to Scientific Computing in Healthcare</h3>
        <h1><b>R programming</b></h1>
        <h2><i>Part 3: What R is good at.</i></h2>
        <h3><i>October 2021</i></h3>
        <h3><b>To-do</b></h3>
        <ul>
            <li>Nothing.</li>
        </ul>
    </td>
    <td><img height='300' width='500' src='images/cover.jpg'/></td>
</tr></table>

## __Aim__: Learn how to make the computer do what we want and get information from the data

The aim of this session is to introduce the basic principles of programming using <code>R</code>.

### __A map of where we're going__

1. __From calculator to computer__ - numbers (__variables__) and how to do things to them (__operators, expressions and functions__) and organise things (__programs, files and libraries__).

1. __Tables of data__ - how to organise data-science type datasets (vectors, lists and data frames).

1. <div style="background-color:yellow;"><b>What R is good at</b> - doing things on all the data at the same time.<br/></div><br/>

1. __Customising your code__ - making repetition easier to do, to read and to write.

1. __Controlling the computer when you have to__ - control techniques - loops (do ... while), conditions (if ... else).

1. __Safe researcher training__ - things you need to know to ensure that you don't disclose personal data.

## __What does R do well__

Apart from having a large number of libraries which are designed to implement almost any statistical or modelling techniques you are likely to want to, there are some things R is optimised to do well which will affect the way you design your code.

In particular R is an interpreted language in which functions can be written in a compiled language - what does that mean?

An interpreted language reads your code and converts it to instructions that the computer will understand step by step through your code. This process of reading and translating is slow but has the advantage that the code can be easily changed and you can work with R like you would with a calculator (like we are in these notebooks).

A compiled language does the same thing but all the conversion to computer instructions is done before you run the program. This can take a long time to do and if you want to change __anything__ you have to compile the entire code again. However, when you run the code, it runs as fast as is possible and that can orders of magnitude faster - sometimes hundreds of times faster.

So, if you want to do something in R that requires multiple operations, say calculate the square-root of each value in a vector, in most languages you would do this by using a function on each item in the vector. In R this is really slow, but the functions have been specially written to work on all the entries in a vector on one function call and that is really fast.

The following is a bit of a contrived example, but it illustrates the point. Don't worry about the details of the code, we will cover all of this in later notebooks.

In [1]:
n <- 10000000
x <- seq(1:n)
y <- rep(0, n)
# Option 1: calculate each entry one at a time.
start <- as.numeric(Sys.time())
for (j in x) { y[j] <- sqrt(x[j]) ^ 2}
end <- as.numeric(Sys.time())
cat("Individual entries took", end-start, "s.\n")
# Option 2: calculate all entries in one call.
start <- as.numeric(Sys.time())
z <- sqrt(x) ^ 2
end <- as.numeric(Sys.time())
cat("Vector calculation took", end-start, "s.\n")

Individual entries took 0.7161522 s.
Vector calculation took 0.1425779 s.

What this means in practice is that you should try to use R to perform the same operation on all rows in a data frame rather than to work through the data frame one row at a time. There are two kinds of operations to help with this: the base-R apply functions to get data from simple tables and the tidyverse's table manipulation (wrangling) functions.

## __apply()__

If you need to do something to many rows of data at the same time, you can use R's _apply_ functions: __apply()__, __sapply()__ and __lapply()__.

The apply() function allows you to perform the same operation on each row, column or both in a data frame. You specify which using the MARGIN parameter: MARGIN=1 applies to rows, MARGIN=2 applies to columns and MARGIN=c(1, 2) applies to each cell. For example, if we have a sequence of test result for a set of participants over a period of time, we can get the mean() values for each participant, at each sampling point or round the data in each cell.

Note that in the last case, we are calling the round() function which takes a value AND the number of decimal places to round to. The first parameter used is the cell id, all the remaining parameters need to be supplied to the apply call, which is why 'round' is followed by '2' - trying changing the '2' to a different value, for example, '0'.

In [2]:
n <- 10
patient_1 <- rnorm(n, mean=10, sd=1)
patient_2 <- rnorm(n, mean=12, sd=2)
patient_3 <- rnorm(n, mean=2, sd=1)
patient_4 <- rnorm(n, mean=5, sd=5)
patient_5 <- rnorm(n, mean=8, sd=3)
# t() converts a column vector to a row (transpose - see matrices).
tests <- data.frame(id=1, t(patient_1))
tests[2, ] <- data.frame(id=2, t(patient_2))
tests[3, ] <- data.frame(id=3, t(patient_3))
tests[4, ] <- data.frame(id=4, t(patient_4))
tests[5, ] <- data.frame(id=5, t(patient_5))
tests

  id X1        X2         X3        X4         X5        X6        X7
1 1  10.272045 10.7855850  9.165999 10.5299372 10.142649 10.713426 10.0858522
2 2  13.531896 12.3341966 15.764642 12.3361350 11.267046 14.019251 13.2890610
3 3   1.790450  1.0003221  2.782232  0.4479518  3.167758  1.395235  0.6793713
4 4   4.977111  0.5747596  1.987441  0.8276213  4.574672 10.442381 -3.4868873
5 5  10.279331 12.3920644  7.702092 10.9327605  8.729487 15.658666 12.1781621
  X8        X9        X10
1  8.943619  9.043236  8.8245808
2 16.509920 10.872974 10.3509383
3  1.197256  1.787096  0.9745096
4 -1.644737  6.151314 -0.7852103
5  7.838439  4.956484  6.8843070

So now, we can run the apply() function to get row, column or both results.

In [3]:
# Row means.
apply(tests[, 1:n+1], MARGIN=1, mean)

        1         2         3         4         5
 9.850693 13.027606  1.522218  2.361847  9.755179

In [4]:
# Column sums.
apply(tests[, 1:n+1], MARGIN=2, sum)

      X1       X2       X3       X4       X5       X6       X7       X8
40.85083 37.08693 37.40241 35.07441 37.88161 52.22896 32.74556 32.84450
      X9      X10
32.81110 26.24913

In [5]:
# Cell rounding using the round() function which takes two parameters
# the thing with the data in and the number of decimal places to round
# to e.g. round(number, 2) will return the value of number rounded to
# two decimal places (if number is 1.2345, it will return 1.23).
apply(tests[, 1:n+1], MARGIN=c(1, 2), round, 0)

  X1 X2 X3 X4 X5 X6 X7 X8 X9 X10
1 10 11  9 11 10 11 10  9  9  9
2 14 12 16 12 11 14 13 17 11 10
3  2  1  3  0  3  1  1  1  2  1
4  5  1  2  1  5 10 -3 -2  6 -1
5 10 12  8 11  9 16 12  8  5  7

The other apply() functions are simply variations in the way the output from the function is created. lapply() produces a list output (and usually has a list input but doesn't have to - although, as you will see below, it does just apply to the columns) and sapply produces a similar vector output.

In [6]:
# Column sums.
lapply(tests[, 1:n+1], mean)

$X1
[1] 8.170166

$X2
[1] 7.417386

$X3
[1] 7.480481

$X4
[1] 7.014881

$X5
[1] 7.576323

$X6
[1] 10.44579

$X7
[1] 6.549112

$X8
[1] 6.568899

$X9
[1] 6.562221

$X10
[1] 5.249825

In [7]:
# Column sums.
sapply(tests[, 1:n+1], mean)

       X1        X2        X3        X4        X5        X6        X7        X8
 8.170166  7.417386  7.480481  7.014881  7.576323 10.445792  6.549112  6.568899
       X9       X10
 6.562221  5.249825

<div style='background:#ddddcc;border:1px;border-radius:10px;padding:10px;border-style: solid;border-color:dark-gray;'>
<h4><i>Exercise: create a data frame with the means and standard-deviation of the first, second ... tenth readings (i.e X1 ... X10).</i></h4>

Hints:
    <ol>
        <li>Create vector for the means and standard deviations.</li>
        <li>Combine them into a data frame.</li>
        <li>Round the data.</li>
    </ol>
    
There is a solution in the box below but you will need to decode it first.
</div>

In [10]:
# This code will produce a possible solution to the exercise. Simply remove the
# commment character from the start of the last line, run this segment and copy
# and paste the resulting code into another box or RStudio and run it.
library(caTools)
decode <- function(string){
    cat(base64decode(string, what='character'))
}
solution <- 'bWVhbnMgPC0gYXBwbHkodGVzdHNbLCAxOm4rMV0sIE1BUkdJTj0yLCBtZWFuKQpzZHMgPC0gYXBwbHkodGVzdHNbLCAxOm4rMV0sIE1BUkdJTj0yLCBzZCkKc3RhdHMgPC0gZGF0YS5mcmFtZShtZWFuPW1lYW5zLCBzZD1zZHMpCnJvdW5kZWQgPC0gYXBwbHkoc3RhdHMsIE1BUkdJTj1jKDEsIDIpLCByb3VuZCwgMikKcm91bmRlZA=='
# decode(solution)

## __Tidyverse__

The tidyverse is a very useful and well documented library designed for data science. See [R for Data Science](https://r4ds.had.co.nz). The library includes a large number of functions that allow you to process a data frame efficiently and in a very readable way.

First of all, you need to load the library (if it is not installed, type, `install.packages("tidyverse")`).

In [11]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.4     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

To demonstrate the tidyverse, we'll use a useful dataset taken from those included in R - to find out what is there, type `data()`. We'll use the `starwars` dataset (to see the first few rows of a data frame, you can use `head()`).

You may also notice that the data frames are often referred to as `tibble`s. This is a special tidyverse version of a data frame with a little extra functionality - for example, it doesn't display too much data. You can convert from tibbles to data frames using as_tibble() and as.data.frame() if you really need to.

In [12]:
as_tibble(as.data.frame(head(starwars)))

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

### _Tidy data_

Before we continues, it is worth mentioning a key requirement of good primary data tables/data frames which is intended to make life simple, effective and reliable when it comes to data science:

Each row will contain data for just one record - i.e. one patient, one participant etc. Each column will contain data for just one variable - e.g. age, gender, a test result etc. And, finally, each cell in a table will contain just one piece of data.

Sometimes, files do not match this requirement for other design reasons, but it is always worth bearing this in mind as a goal certainly for the tables you spend most time working with and your platform file.

If you look at the `starwars` data frame, there is one and only one row for each character, there is one and only one column for each feature (or variable). Mostly there is only one item in each cell (the lists being the exception). Such lists are a classic problem - we may need to make room for 10 diagnosis codes in complex cases, but if most people only have two, that's a waste of memory, so there are often trade-offs that we need to handle.

With a data frame organised in the one row per record, one columne per variable, one value per cell way, the following processes become very efficient.

### _Selecting features of a data frame_

There are two kinds of selection we do regularly with data frames: select rows/records of interest and columns/variables of interest. The tidyverse provides two function to do this: __filter()__ to select rows and __select()__ to select columns.

We filter to select only those records that we are interested in, for example, we can select all the human characters.

In [13]:
humans <- filter(starwars, species=='Human')
head(humans)

  name               height mass hair_color  skin_color eye_color birth_year
1 Luke Skywalker     172     77  blond       fair       blue      19.0
2 Darth Vader        202    136  none        white      yellow    41.9
3 Leia Organa        150     49  brown       light      brown     19.0
4 Owen Lars          178    120  brown, grey light      blue      52.0
5 Beru Whitesun lars 165     75  brown       light      blue      47.0
6 Biggs Darklighter  183     84  black       light      brown     24.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 male   masculine Tatooine  Human
3 female feminine  Alderaan  Human
4 male   masculine Tatooine  Human
5 female feminine  Tatooine  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 Attack of the Clones, Revenge of the Sith , A New Hope
5 Attack of the Clones, Revenge of the Sith , A New Hope
6 A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3 Imperial Speeder Bike
4
5
6
  starships
1 X-wing          , Imperial shuttle
2 TIE Advanced x1
3
4
5
6 X-wing

We select columns to simplify the table (often as a precursor to some serious processing of tables that aren't in the tidy format to extract data which is more compatible to a tidy format - for example, finding the range of test results rather than listing them all).

In [14]:
small_starwars <- select(starwars, c(name, species, homeworld))
head(small_starwars)

  name           species homeworld
1 Luke Skywalker Human   Tatooine
2 C-3PO          Droid   Tatooine
3 R2-D2          Droid   Naboo
4 Darth Vader    Human   Tatooine
5 Leia Organa    Human   Alderaan
6 Owen Lars      Human   Tatooine

And, of course, we can do both things, on after another - in this case, we select the columns first and then, using the resulting data frame as the parameter for the filter function, select only the humans from that data frame:

In [15]:
humans_smallstarwars <- filter(select(starwars, c(name, species, homeworld)), species=='Human')
head(humans_smallstarwars)

  name               species homeworld
1 Luke Skywalker     Human   Tatooine
2 Darth Vader        Human   Tatooine
3 Leia Organa        Human   Alderaan
4 Owen Lars          Human   Tatooine
5 Beru Whitesun lars Human   Tatooine
6 Biggs Darklighter  Human   Tatooine

#### _The pipe, `%>%`_

That last line is a bit difficult to read and when you combine it (as you often will) with the other tidyverse functions, expressions can quickly become almost incomprehensible - you can see that the filter command at the far left of the instruction is associated with the species parameter on the far right.

The tidyverse has a very neat way around this - it is the 'pipe' operator, `%>%`. You can think of the pipe as taking the output data frame from whatever is to its left and feeding that data frame to the operation that is to its right. The result is that you can read the code from left to right very simply.

In [16]:
humans_smallstarwars <- starwars %>% select(c(name, species, homeworld)) %>% filter(species=='Human')
head(humans_smallstarwars)

  name               species homeworld
1 Luke Skywalker     Human   Tatooine
2 Darth Vader        Human   Tatooine
3 Leia Organa        Human   Alderaan
4 Owen Lars          Human   Tatooine
5 Beru Whitesun lars Human   Tatooine
6 Biggs Darklighter  Human   Tatooine

And, as with the base-R code, we can then apply functions to the selected data, for example, we can calculate the mean of numeric columns. Note that the parameter na.rm which can be defined for the mean() function instructs mean() to ignore any NA (not available) values it finds (otherwise, if R makes any calculation with an NA, the result is NA which is not usually useful).

In [17]:
starwars %>%
    select(c(name, species, homeworld, height, mass)) %>%
    filter(species=='Human') %>%
    summarise(n=n(), mean_h=mean(height, na.rm=TRUE), mean_m=mean(mass, na.rm=TRUE))

  n  mean_h   mean_m
1 35 176.6452 82.78182

We'll use quite a lot of the tidverse functions over the course, the most useful ones being:

* arrange() - sorts the data frame by the specified columns.
* mutate() - creates a new column/variable.
* group_by() - groups the data so that analyses apply to the groups rather than the whole table.

#### _arrange()_

The arrange() function sorts the data frame in order of the specified columns in the order specified such that the first column is used to sort the data, then the next is used to sort the data within those categories, and then the third within those two categories and so on.

For example, sorting by species, homeworld and height (in reverse order), we get:

In [18]:
starwars %>%
arrange(species, homeworld, -height)

    name                  height mass  hair_color   skin_color
1   Ratts Tyerell          79     15   none         grey, blue
2   Dexter Jettster       198    102   none         brown
3   Ki-Adi-Mundi          198     82   white        pale
4   Mas Amedda            196     NA   none         blue
5   Zam Wesell            168     55   blonde       fair, green, yellow
6   R2-D2                  96     32   NA           white, blue
7   C-3PO                 167     75   NA           gold
8   R5-D4                  97     32   NA           white, red
9   IG-88                 200    140   none         metal
10  R4-P17                 96     NA   none         silver, red
11  BB8                    NA     NA   none         none
12  Sebulba               112     40   none         grey, red
13  Wicket Systri Warrick  88     20   brown        brown
14  Poggle the Lesser     183     80   none         green
15  Roos Tarpals          224     82   none         grey
16  Rugor Nass            206     NA   none         green
17  Jar Jar Binks         196     66   none         orange
18  Bail Prestor Organa   191     NA   black        tan
19  Raymus Antilles       188     79   brown        light
20  Leia Organa           150     49   brown        light
21  Lobot                 175     79   none         light
22  Jek Tono Porkins      180    110   brown        fair
23  Mon Mothma            150     NA   auburn       fair
24  Jango Fett            183     79   black        tan
25  Han Solo              180     80   brown        fair
26  Wedge Antilles        170     77   brown        fair
27  Finis Valorum         170     NA   blond        fair
28  Jocasta Nu            167     NA   white        fair
29  Wilhuff Tarkin        180     NA   auburn, grey fair
30  Mace Windu            188     84   none         dark
... ...                   ...    ...   ...          ...
58  Plo Koon              188     80.0 none         orange
59  Luminara Unduli       170     56.2 black        yellow
60  Barriss Offee         166     50.0 black        yellow
61  Ackbar                180     83.0 none         brown mottle
62  San Hill              191       NA none         grey
63  Kit Fisto             196     87.0 none         green
64  Nute Gunray           191     90.0 none         mottled green
65  Tion Medon            206     80.0 none         grey
66  Yarael Poof           264       NA none         white
67  Greedo                173     74.0 NA           green
68  Wat Tambor            193     48.0 none         green, grey
69  Nien Nunb             160     68.0 none         grey
70  Adi Gallia            184     50.0 none         dark
71  Shaak Ti              178     57.0 none         red, blue, white
72  Ben Quadinaros        163     65.0 none         grey, green, yellow
73  Watto                 137       NA black        blue, grey
74  Bossk                 190    113.0 none         green
75  Bib Fortuna           180       NA none         pale
76  Ayla Secura           178     55.0 none         blue
77  Dud Bolt               94     45.0 none         blue, grey
78  Tarfful               234    136.0 brown        brown
79  Chewbacca             228    112.0 brown        unknown
80  Gasgano               122       NA none         white, blue
81  Yoda                   66     17.0 white        green
82  Darth Maul            175     80.0 none         red
83  Eeth Koth             171       NA black        brown
84  Ric Olié              183       NA brown        fair
85  Quarsh Panaka         183       NA black        dark
86  Sly Moore             178     48.0 none         pale
87  Captain Phasma         NA       NA unknown      unknown
    eye_color birth_year sex    gender    homeworld      species
1   unknown    NA        male   masculine Aleen Minor    Aleena
2   yellow     NA        male   masculine Ojom           Besalisk
3   yellow     92        male   masculine Cerea          Cerean
4   blue       NA        male   masculine Champala       Chagrian
5   yellow     NA        female feminine  Zolan          Clawdite
6   red        33        none   masculine Naboo          Droid
7   yellow    112        none   masculine Tatooine       Droid
8   red        NA        none   masculine Tatooine       Droid
9   red        15        none   masculine NA             Droid
10  red, blue  NA        none   feminine  NA             Droid
11  black      NA        none   masculine NA             Droid
12  orange     NA        male   masculine Malastare      Dug
13  brown       8        male   masculine Endor          Ewok
14  yellow     NA        male   masculine Geonosis       Geonosian
15  orange     NA        male   masculine Naboo          Gungan
16  orange     NA        male   masculine Naboo          Gungan
17  orange     52        male   masculine Naboo          Gungan
18  brown      67        male   masculine Alderaan       Human
19  brown      NA        male   masculine Alderaan       Human
20  brown      19        female feminine  Alderaan       Human
21  blue       37        male   masculine Bespin         Human
22  blue       NA        male   masculine Bestine IV     Human
23  blue       48        female feminine  Chandrila      Human
24  brown      66        male   masculine Concord Dawn   Human
25  brown      29        male   masculine Corellia       Human
26  hazel      21        male   masculine Corellia       Human
27  blue       91        male   masculine Coruscant      Human
28  blue       NA        female feminine  Coruscant      Human
29  blue       64        male   masculine Eriadu         Human
30  brown      72        male   masculine Haruun Kal     Human
... ...       ...        ...    ...       ...            ...
58  black      22        male   masculine Dorin          Kel Dor
59  blue       58        female feminine  Mirial         Mirialan
60  blue       40        female feminine  Mirial         Mirialan
61  orange     41        male   masculine Mon Cala       Mon Calamari
62  gold       NA        male   masculine Muunilinst     Muun
63  black      NA        male   masculine Glee Anselm    Nautolan
64  red        NA        male   masculine Cato Neimoidia Neimodian
65  black      NA        male   masculine Utapau         Pau'an
66  yellow     NA        male   masculine Quermia        Quermian
67  black      44        male   masculine Rodia          Rodian
68  unknown    NA        male   masculine Skako          Skakoan
69  black      NA        male   masculine Sullust        Sullustan
70  blue       NA        female feminine  Coruscant      Tholothian
71  black      NA        female feminine  Shili          Togruta
72  orange     NA        male   masculine Tund           Toong
73  yellow     NA        male   masculine Toydaria       Toydarian
74  red        53        male   masculine Trandosha      Trandoshan
75  pink       NA        male   masculine Ryloth         Twi'lek
76  hazel      48        female feminine  Ryloth         Twi'lek
77  yellow     NA        male   masculine Vulpter        Vulptereen
78  blue       NA        male   masculine Kashyyyk       Wookiee
79  blue      200        male   masculine Kashyyyk       Wookiee
80  black      NA        male   masculine Troiken        Xexto
81  brown     896        male   masculine NA             Yoda's species
82  yellow     54        male   masculine Dathomir       Zabrak
83  brown      NA        male   masculine Iridonia       Zabrak
84  blue       NA        NA     NA        Naboo          NA
85  brown      62        NA     NA        Naboo          NA
86  white      NA        NA     NA        Umbara         NA
87  unknown    NA        NA     NA        NA             NA
    films
1   The Phantom Menace
2   Attack of the Clones
3   Attack of the Clones, The Phantom Menace  , Revenge of the Sith
4   Attack of the Clones, The Phantom Menace
5   Attack of the Clones
6   The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
7   The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
8   A New Hope
9   The Empire Strikes Back
10  Attack of the Clones, Revenge of the Sith
11  The Force Awakens
12  The Phantom Menace
13  Return of the Jedi
14  Attack of the Clones, Revenge of the Sith
15  The Phantom Menace
16  The Phantom Menace
17  Attack of the Clones, The Phantom Menace
18  Attack of the Clones, Revenge of the Sith
19  Revenge of the Sith, A New Hope
20  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
21  The Empire Strikes Back
22  A New Hope
23  Return of the Jedi
24  Attack of the Clones
25  The Empire Strikes Back, Return of the Jedi     , A New Hope             , The Force Awakens
26  The Empire Strikes Back, Return of the Jedi     , A New Hope
27  The Phantom Menace
28  Attack of the Clones
29  Revenge of the Sith, A New Hope
30  Attack of the Clones, The Phantom Menace  , Revenge of the Sith
... ...
58  Attack of the Clones, The Phantom Menace  , Revenge of the Sith
59  Attack of the Clones, Revenge of the Sith
60  Attack of the Clones
61  Return of the Jedi, The Force Awakens
62  Attack of the Clones
63  Attack of the Clones, The Phantom Menace  , Revenge of the Sith
64  Attack of the Clones, The Phantom Menace  , Revenge of the Sith
65  Revenge of the Sith
66  The Phantom Menace
67  A New Hope
68  Attack of the Clones
69  Return of the Jedi
70  The Phantom Menace , Revenge of the Sith
71  Attack of the Clones, Revenge of the Sith
72  The Phantom Menace
73  Attack of the Clones, The Phantom Menace
74  The Empire Strikes Back
75  Return of the Jedi
76  Attack of the Clones, The Phantom Menace  , Revenge of the Sith
77  The Phantom Menace
78  Revenge of the Sith
79  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
80  The Phantom Menace
81  The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
82  The Phantom Menace
83  The Phantom Menace , Revenge of the Sith
84  The Phantom Menace
85  The Phantom Menace
86  Attack of the Clones, Revenge of the Sith
87  The Force Awakens
    vehicles                   starships
1
2
3
4
5   Koro-2 Exodrive airspeeder
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20  Imperial Speeder Bike
21
22                             X-wing
23
24
25                             Millennium Falcon, Imperial shuttle
26  Snowspeeder                X-wing
27
28
29
30
... ...                        ...
58                             Jedi starfighter
59
60
61
62
63
64
65
66
67
68
69                             Millennium Falcon
70
71
72
73
74
75
76
77
78
79  AT-ST                      Millennium Falcon, Imperial shuttle
80
81
82  Sith speeder               Scimitar
83
84                             Naboo Royal Starship
85
86
87

#### _mutate()_

mutate() is used to modify data in a column (by using an existing column name) or to create a new column of data (by using a new column name). For example, we could create a new variable indicating whether the character has hair or not. First of all we'll replace all the NAs with 'none' (a column update), then we'll look for 'none' to indicate no hair (a new column).

To select a particular value, we use the ifelse() function which is similar to the if ... else code we will cover in the fifth notebook. It works out the expression in the first parameter, here

is.na(hair_color)   - which means is the entry in hair_color equal to `NA` (there's a technical reason we can't just say hair_color == NA which we'll go into during the module).

If this works out to be TRUE as it is for R2-D2, then this rows entry in the specified column is set (chnaged) to the value of the next parameter, here `none`. If it is FALSE as it is for Luke Skywalker, then the entry in the column is set to the value of hair_color (i.e. left unchanged, as it is).

The second ifelse() causes the entry for each row to be set to 0 if that row has hair_color set to 'none' and 1 otherwise.

If this is not making sense, don't panic, review this section again after you have worked through notebook 5 and see if that helps.

In [19]:
starwars_hair <- starwars %>% mutate(hair_color=ifelse(is.na(hair_color), 'none', hair_color))
starwars_hair <- starwars_hair %>% mutate(has_hair=ifelse(hair_color=='none', 0, 1))
head(starwars_hair)

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  none        gold        yellow    112.0
3 R2-D2           96     32  none        white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships                          has_hair
1 X-wing          , Imperial shuttle 1
2                                    0
3                                    0
4 TIE Advanced x1                    0
5                                    1
6                                    1

#### _group_by()_

This function is often the hardest to get to grips with. It configures a data frame (and it is not always clear that it has been configured) so that it is grouped by the columns specified. This is like the arrange() function which just orders the rows, but group_by() causes any future summary functions to be applied to the specified groups rather than the whole table. For example, after a group_by() the mean value of the height would be the mean value for each group. You can remove this grouping using the ungroup() function - I do this by default every time I use group_by() so that it is more difficult to accidently leave a data framed in a grouped state.

The following code gets the mean height for the whole table:

In [20]:
starwars %>% summarise(mean_h=mean(height, na.rm=TRUE))

  mean_h
1 174.358

But the following code gets the mean height for each species:

In [21]:
starwars %>% group_by(species) %>% summarise(mean_h=mean(height, na.rm=TRUE)) %>% ungroup()

   species        mean_h
1  Aleena          79.0000
2  Besalisk       198.0000
3  Cerean         198.0000
4  Chagrian       196.0000
5  Clawdite       168.0000
6  Droid          131.2000
7  Dug            112.0000
8  Ewok            88.0000
9  Geonosian      183.0000
10 Gungan         208.6667
11 Human          176.6452
12 Hutt           175.0000
13 Iktotchi       188.0000
14 Kaleesh        216.0000
15 Kaminoan       221.0000
16 Kel Dor        188.0000
17 Mirialan       168.0000
18 Mon Calamari   180.0000
19 Muun           191.0000
20 Nautolan       196.0000
21 Neimodian      191.0000
22 Pau'an         206.0000
23 Quermian       264.0000
24 Rodian         173.0000
25 Skakoan        193.0000
26 Sullustan      160.0000
27 Tholothian     184.0000
28 Togruta        178.0000
29 Toong          163.0000
30 Toydarian      137.0000
31 Trandoshan     190.0000
32 Twi'lek        179.0000
33 Vulptereen      94.0000
34 Wookiee        231.0000
35 Xexto          122.0000
36 Yoda's species  66.0000
37 Zabrak         173.0000
38 NA             181.3333

<div style='background:#ddddcc;border:1px;border-radius:10px;padding:10px;border-style: solid;border-color:dark-gray;'>
<h4><i>Exercise: create column in the starwars data with the BMI data.</i></h4>

Create a new BMI column. Calculate the mean BMI for each species and for each sex. You may also want to check the BMI variation by other factors.
If possible, ignore any species with fewer than 5 characters both on the grounds of statistical relevance and disclosure control.
    
Hints:
    <ol>
        <li>Be careful with the calculation.</li>
        <li>The n() function used in summarise() is the number of rows.</li>
    </ol>
    
There is a solution in the box below but you will need to decode it first.
</div>

In [24]:
# This code will produce a possible solution to the exercise. Simply remove the
# commment character from the start of the last line, run this segment and copy
# and paste the resulting code into another box or RStudio and run it.
library(caTools)
decode <- function(string){
    cat(base64decode(string, what='character'))
}
solution <- 'c3RhcndhcnNfYm1pIDwtIHN0YXJ3YXJzICU+JQptdXRhdGUoQk1JPW1hc3MvKChoZWlnaHQvMTAwKV4yKSkKaGVhZChzdGFyd2Fyc19ibWksIDEwKQpzdGFyd2Fyc19ibWkgJT4lIGdyb3VwX2J5KHNwZWNpZXMpICU+JSBmaWx0ZXIobigpID4gNCkgJT4lIHN1bW1hcmlzZShuPW4oKSwgbWVhbl9ibWk9bWVhbihCTUksIG5hLnJtPVRSVUUpKSAlPiUgdW5ncm91cCgpCnN0YXJ3YXJzX2JtaSAlPiUgZ3JvdXBfYnkoZ2VuZGVyKSAlPiUgc3VtbWFyaXNlKG49bigpLCBtZWFuX2JtaT1tZWFuKEJNSSwgbmEucm09VFJVRSkpICU+JSB1bmdyb3VwKCk='
# decode(solution)

<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>